@model IEnumerable<PruebaTrivinio.Models.Cliente>

@{
    ViewData["Title"] = "Customers";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList;

<h1>My Customers</h1>


<a  class="btn btn-primary btn-sm my-3" asp-action="Create">
    Create New
</a>

<table class="table table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surnames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surnames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash" style="color:red"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager( (IPagedList)ViewBag.onePageOfClients, page => Url.Action("Index", new { page }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})